<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido_1 %>
    <%= form.text_field :apellido_1 %>
  </div>

  <div class="field">
    <%= form.label :apellido_2 %>
    <%= form.text_field :apellido_2 %>
  </div>

  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo %>
  </div>

  <div class="field">
    <%= form.label :clave %>
    <%= form.text_field :clave %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id %>
  </div>

  <div class="field">
    <%= form.label :fee_id %>
    <%= form.text_field :fee_id %>
  </div>

  <div class="field">
    <%= form.label :phone_id %>
    <%= form.text_field :phone_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
