<p id="notice"><%= notice %></p>

<p>
  <strong>Monto pago:</strong>
  <%= @payment.monto_pago %>
</p>

<p>
  <strong>Saldo acumulado:</strong>
  <%= @payment.saldo_acumulado %>
</p>

<p>
  <strong>Fecha pago:</strong>
  <%= @payment.fecha_pago %>
</p>

<p>
  <strong>Total pago:</strong>
  <%= @payment.total_pago %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @payment.payment_method_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Motive:</strong>
  <%= @payment.motive_id %>
</p>

<p>
  <strong>Month:</strong>
  <%= @payment.month_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @payment.year_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
