<p id="notice"><%= notice %></p>

<h1>Motives</h1>

<table>
  <thead>
    <tr>
      <th>Motivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motives.each do |motive| %>
      <tr>
        <td><%= motive.motivo %></td>
        <td><%= link_to 'Show', motive %></td>
        <td><%= link_to 'Edit', edit_motive_path(motive) %></td>
        <td><%= link_to 'Destroy', motive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motive', new_motive_path %>
