<p id="notice"><%= notice %></p>

<h1>Supplier Types</h1>

<table>
  <thead>
    <tr>
      <th>Tipo proveedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_types.each do |supplier_type| %>
      <tr>
        <td><%= supplier_type.tipo_proveedor %></td>
        <td><%= link_to 'Show', supplier_type %></td>
        <td><%= link_to 'Edit', edit_supplier_type_path(supplier_type) %></td>
        <td><%= link_to 'Destroy', supplier_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier Type', new_supplier_type_path %>
