<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Fecha gasto</th>
      <th>Monto</th>
      <th>Motive</th>
      <th>Month</th>
      <th>Year</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.fecha_gasto %></td>
        <td><%= expense.monto %></td>
        <td><%= expense.motive_id %></td>
        <td><%= expense.month_id %></td>
        <td><%= expense.year_id %></td>
        <td><%= expense.document_id %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
